.generatorContainer {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
}

.miningContainer {
  position: absolute;
  top: -10%;
  right: -25px;
  width: 120%;
  height: 120%;
}

.inventoryContainer {
  max-width: 700px;
  margin: 0 auto;
}

.inventoryBg {
  background: rgba(255, 255, 255, 0.20);
  border: 2px solid rgba(255,255,255,0.3);
  margin: 0 auto;
}

.inventoryButtonsRow {
  min-height: 140px;
}

.inventoryTabs {
  padding: 0 10px;
  border-bottom: 2px solid rgba(255,255,255,0.3);
}

.inventoryTabLink {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(220,220,220,0.8);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.025rem;
  &.linkActive {
    color: #fff;
    box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.7);
  }
}

@media (max-width: 992px) { 
  .inventoryTabLink {
    padding: 10px 4px;
    font-size: 12px;
  }
}

.inventoryScollable {
  overflow-y: auto;
}

.inventoryContent {
  padding: 8px 8px 0 8px;
}

.nftProps {
  top: 50px;
  right: 105%;
  position: absolute;
  width: 25%;
}

.pickaxeProps {
  top: 50px;
  right: 105%;
  position: absolute;
  width: 30%;
}

@media (max-width: 992px) { 
  .nftProps {
    position: relative;
    right: auto;
    top: auto;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px 10px 0;
  }
}

.lightBg {
  background: rgba(255, 255, 255, 0.20);
  border: 2px solid rgba(255,255,255,0.3);
}

.itemBg {
  background: rgba(255, 255, 255, 0.20);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.itemBgActive {
  background: rgba(80, 166, 197, 0.6)
}

.filterBlock {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  padding: 6px 6px 0 6px;
  height: 60px;
}

.filterIcon {
  width: 45px;
}

.nextBtn {
  margin-left: auto !important;
}